doctype html
html
  head
    title Activate Profile
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(type="module" src="../javascripts/pages/activate.js")
  body
    h1 Activate page