doctype html
html
  head
    title Reset Password
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(type="module" src="../javascripts/pages/forgot-password.js")
  body
    label enter your Email
        input(type="email")
    button(id="forgot-password") Send
    label