doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    
    script(type="module" src="../javascripts/pages/home.js")
  body
    h1(id='user-name') Home page
    h1 Find new friends
    input(name="find-friend" placeholder="search friend")
    table(id="users" class="tbl")
      thead
        tr
          th name
          th id
      tbody
    br
    br
    h1 Friend Requests
    table(id="requests" class="tbl")
      thead
        tr
          th name
          th id
      tbody
    br
    br
        
    div(id="friends-list")
      h1 My Friends
      table(id="friends" class="tbl")
      thead
        tr
          th name
          th id
      tbody
       
    button(id="log-out") LogOut
    script(src='/socket.io/socket.io.js')
    script(src='../javascripts/pages/socket.js')
     
    