doctype html
html
  head
    title Reset Password
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(type="module" src="../javascripts/pages/reset-password.js")
  body
    label enter new password
        input(type="password" id="password")
    label confirm new password
        input(type="password" id="confirm")
    button(id="new-password") Change
    label.message